<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chattestviewer.chatMessage.mybatis.ChatMapper">

    <!-- 채팅 추가 -->
    <insert id="createChat" parameterType="chatMessage">
        <selectKey resultType="int" order="BEFORE" keyProperty="chatNum">
            select nvl(max(chatnum),0)+1 from chatcontent
        </selectKey>
        insert into chatcontent
        values(#{chatNum},#{roomNumber},#{userName},#{content})
    </insert>

    <!-- 채팅방의 채팅 기록 가져오기 -->
    <select id="searchChat" resultType="chatMessage">
        SELECT * FROM chatcontent
        WHERE roomNumber = #{roomNumber} ORDER BY CHATNUM ASC
    </select>

    <!-- 채팅방 만들기 -->
    <insert id="createChatRoom" parameterType="room">
        <selectKey resultType="int" order="BEFORE" keyProperty="roomNumber">
            select nvl(max(roomnumber),0)+1 from chatroom
        </selectKey>
        insert into chatroom
        values (#{roomNumber}, #{roomName}, #{sessionId}, #{description})
    </insert>

    <!-- 방목록 가져오기 -->
    <select id="searchRoom" resultType="room">
        select *
        from chatroom
        ORDER BY roomnumber ASC
    </select>

    <!-- 방목록 가져오기 - 유저 기준 -->
    <select id="searchRoomUser" parameterType="room" resultType="room">
        select * from chatroom where sessionId = #{sessionId}
    </select>
</mapper>